<article class="card row no-gutters">
  <div class="info col-12 col-md-9">
    <div class="info-header">
      <h3 class="title">{{ course.name }}</h3>
      <ul class="info-date">
        <li class="visite-time">
          <fa-icon [icon]="faClock"></fa-icon>
          {{ course.length }}
        </li>
        <li class="creation-time">
          <fa-icon [icon]="faCalendarDays"></fa-icon>
          {{ course.date }}
        </li>
      </ul>
    </div>
    <p class="description">{{ course.description }}</p>
  </div>
  <div class="course__tools col-12 col-md-3 justify-content-end">
    <button class="btn btn-edit" (click)="editCourse(course.id)">
      <fa-icon [icon]="faPen" class="btn-icon"></fa-icon>
      Edit
    </button>
    <button
      class="btn btn-delete"
      type="button"
      (click)="deleteCourse(course.id)"
    >
      <fa-icon class="btn-icon" [icon]="faTrash"></fa-icon>
      Detete
    </button>
  </div>
</article>
