.breadcrumbs {
  height: 70px;
  background: var(--white);
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__list {
    display: flex;
  }
  &__item {
    color: var(--gray-700);
    font-weight: 700;
  }
}
a {
  transition: color 0.1s ease;
}
a:hover {
  color: var(--primary-color);
}
a:focus,
a:active {
  color: var(--primary-dark-color);
}
