@import "../../../../styles/base/variables";

.search {
  position: relative;
  display: flex;
}
.icon-wrapper {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-40%);
  color: $gray-600;
}
.input {
  flex-grow: 2;
  padding: 10px 10px 10px 35px;
  border: 1px solid $gray-200;
  background: $white;
  transition: border 0.2s;
}
.input:hover,
.input:focus {
  outline: none;
  border: 1px solid $primary-color;
}
.input::placeholder {
  font-family: inherit;
  color: $gray-200;
}
.btn-submit {
  color: $white;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 15px;
  background: $success-light-color;
  transition: background 0.3s;
  &:hover,
  &:focus {
    background: $success-dark-color;
  }
  &:active {
    background: $success-color;
  }
  &:disabled {
    background: $gray-200;
  }
}
@media screen and (max-width: 767px) {
  .input {
    min-width: 150px;
  }
}
