@import "../../../styles/base/variables";

:host {
  margin-top: auto;
}
.footer {
  height: 70px;
  color: $gray-500;
  background: $gray-700;
  font-size: 12px;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .container {
    justify-content: center;
  }
}
