<section class="courses-list">
  <button class="courses-list__add-btn">
    <fa-icon [icon]="faPlus" class="courses-list__add-icon"></fa-icon>
    Add course
  </button>
  <ul class="courses-list__list">
    <li
      *ngFor="let course of courses | filter : searchTerm; trackBy: trackByFunc"
    >
      <courses-item
        (onDelete)="deleteCourse($event)"
        (onEdit)="editCourse($event)"
        [course]="course"
      ></courses-item>
    </li>
  </ul>
  <courses-more (onSearch)="loadMoreCourses()"></courses-more>
</section>
