<section class="courses-list">
  <button class="courses-list__add-btn">
    <fa-icon [icon]="faPlus" class="courses-list__add-icon"></fa-icon>
    Add course
  </button>
  <ul class="courses-list__list">
    <li
      *ngFor="
        let course of courses | filter : searchTerm | orderBy;
        trackBy: trackByFunc
      "
    >
      <courses-item
        (onDelete)="deleteCourse($event)"
        (onEdit)="editCourse($event)"
        [course]="course"
      ></courses-item>
    </li>
  </ul>

  <courses-info-card *ngIf="courses.length === 0"
    >No data, feel free to add new course
  </courses-info-card>

  <courses-info-card
    *ngIf="(courses | filter : searchTerm).length <= 0 && courses.length > 0"
    >No found any courses by request
  </courses-info-card>

  <courses-more
    *ngIf="(courses | filter : searchTerm).length > 0 && courses.length > 0"
    (onSearch)="loadMoreCourses()"
  ></courses-more>
</section>
